@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-display: swap;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: #050505;
    color: #fff;
    min-height: 100%;
    font-family: "Inter", "sans-serif";
}

main{
    overflow-x: clip;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a{
    color: #fff;
}

.container{
    margin: 0 auto;
    max-width: 81.87rem;
    width: 90%;
}

.main-footer{
    text-align: center;
    padding: 2em;
}

