.about{
    margin-bottom: 7rem;
}

.about__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2em;
}

.about__heading{
    font-size: clamp(2.75rem, 2.3178rem + 1.8692vw, 4rem);
    font-weight: 300;
    margin-bottom: 3.5rem;
}

.about__text{
    grid-column: 1 / -1;
    grid-row-start: 2;
}

.about__text__heading,
.about__text__paragraph{
    font-weight: 300;
}

.about__text__paragraph{
    font-size: clamp(1rem, 0.8703rem + 0.5607vw, 1.375rem);
    line-height: 1.4;
}

.about__text__paragraph + .about__text__paragraph{
    margin-top: 1em;
}

.about__img{
    grid-column: 1 / 13 ;
    position: relative;
    aspect-ratio: 16 / 9;
}

.about__img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.about__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 56.25rem) {
    .about__content{
        column-gap: 2.4em;
    }
    .about__text{
        grid-column: span 6;
        grid-row-start: unset;
    }

    .about__img{
        grid-column: span 6;
    }
}