---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.jsx';
import Hero from '../components/Hero/Hero.jsx';
import About from '../components/About/About.jsx';
import Tools from '../components/Tools/Tools.jsx';
import Projects from '../components/Projects/Projects.jsx';
---

<Layout title="Arno Volts | Junior Web Developer">
    <Header client:load />
	<main>
        <Hero />
        <About />
        <Tools />
        <Projects />
	</main>
</Layout>

