---

---

<section class="contact container" id="contact">
    <h2 class="contact__heading">Reach out</h2>
    <p class="contact__description">
        You are free to contact me via email <a href="mailto:voltsnntanisimine@gmail.com">voltsnntanisimine@gmail.com</a> or send me a dm on <a href="https://www.linkedin.com/in/volts/" target="_blank" rel="noopener noreferrer">linkedin</a>. Hope to hear from you soon!
    </p>
</section>

<style>
    .contact {
        margin-top: 94px;
        margin-bottom: 94px;
    }

    .contact a {
        color: #fff;
        transition: font-weight cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
    }

    .contact a:hover{
        font-weight: 500;
    }

    .contact__heading{
        font-size: clamp(2.75rem, 2.3178rem + 1.8692vw, 4rem);
        font-weight: 300;
        margin-bottom: 1.2em;
    }
    .contact__description{
        font-size: clamp(1rem, 0.8703rem + 0.5607vw, 1.375rem);
        line-height: 1.4;
    }
</style>