---


---
<header class="main-header container">
    <nav class="main-header__nav">
        <ul id="main-nav" class="main-header__nav__items">
            <li class="main-header__nav__items__item">
                <a href="#hero">Home</a>
            </li>
            <li class="main-header__nav__items__item">
                <a href="#about">About</a>
            </li>
            <li class="main-header__nav__items__item">
                <a href="#projects">Projects</a>
            </li>
            <li class="main-header__nav__items__item">
                <a href="#">Contact</a>
            </li>
        </ul>
        <button class="hamburger" role="button" aria-label="toggle-navigation" aria-expanded="false" aria-controls="main-nav">
            <span class='line top'></span>
            <span class='line middle'></span>
            <span class='line bottom'></span>
        </button>
    </nav>
    
</header>

<style>
    .main-header{
        margin-bottom: 4.5625rem;
    }

    .main-header__nav{
        position: fixed;
        padding: 2.5625rem 2.5% 0 2.5%;
        right: 0;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        max-width: 81.87rem;
    }

    .main-header__nav__items{
        font-size: 1.375rem;
        font-weight: 500;
        gap: 0.94em;
    }

    .main-header__nav__items__item{
        transition: font-weight ease 300ms;
    }

    .main-header__nav__items__item > a{
        color: #fff;
        text-decoration: none;
    }

    .main-header__nav__items__item > a:hover{
        font-weight: 300;
    }
    
    .main-header__nav > .main-header__nav__items{
        display: none;
    }

    .main-header__nav.active{
        background-color: #000;
        height: 100vh;
        right: 0;
        width: 100%;
    }

    .main-header__nav.active > .main-header__nav__items{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        font-size: 33px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hamburger {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 25px;
        position: relative;
        width: 35px;
        z-index: 1;
    }

    .hamburger .line{
        background-color: #fff;
        display: inline-block;
        height: 2px;
        position: absolute;
        width: 100%;
    }

    .hamburger .top, .hamburger .bottom{
        transform: translateX(-50%);
        transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 500ms, top cubic-bezier(0.075, 0.82, 0.165, 1) 500ms, bottom cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
    }

    .hamburger .top{
        top: 0;
        left: 50%;
    }

    .hamburger .middle{
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: opacity ease 300ms;
        width: 60%;
    }

    .hamburger .bottom {
        bottom: 0;
        left: 50%;
    }

    .hamburger.close .middle{
        opacity: 0;
    }

    .hamburger.close .top{
        top: 50%;
        transform: translateX(-50%) rotate(45deg);
    }

    .hamburger.close .bottom{
        bottom: unset;
        top: 50%;
        transform: translateX(-50%) rotate(-45deg);
    }



    @media screen and (min-width: 31.25rem) {
        .main-header__nav > .main-header__nav__items,
        .main-header__nav.active .main-header__nav__items{
            display: flex;
            position: static;
            /* top: unset;
            right: unset; */
        }

        .main-header__nav,
        .main-header__nav.active{
            background-color: unset;
            height: unset;
            left: 50%;
            transform: translateX(-50%);
            padding-left: 0;
            padding-right: 0;
            width: 95%;
        }
        
        .main-header__nav.active .main-header__nav__items {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            transform: none;
        }

        .main-header__nav.active .main-header__nav__items{
            flex-direction: unset;
            font-size: 1.375rem;
            padding-left: unset;
            padding-top: unset;
        }


        .hamburger{
            display: none;
        }
    }
</style>

<script>
    const hamburger = document.querySelector('.hamburger');
    const nav = document.querySelector('.main-header__nav');
    const navItems = document.querySelectorAll('.main-header__nav__items__item');
    let isVisibile = false;

    hamburger.addEventListener('click', () => {
        isVisibile = !isVisibile;
        hamburger.classList.toggle('close');
        hamburger.setAttribute("aria-expanded",  `${isVisibile}`);
        nav.classList.toggle('active');
        console.log(hamburger.getAttribute("aria-expanded"));
    });

    navItems.forEach(item => {
        item.addEventListener('click', () => {
            hamburger.classList.remove('close');
            nav.classList.remove('active');
        });
    });
</script>