.main-header{
    padding-top: 41px;
    display: flex;
    justify-content: flex-end;
}

.hamburger {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 25px;
    position: relative;
    width: 35px;
    z-index: 1;
}

.hamburger .line{
    background-color: #fff;
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 100%;
}

.hamburger > .top{
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}

.hamburger > .middle{
    right: 0;
    width: 60%;
}

.hamburger > .bottom {
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}

.main-header__nav{
    display: none;
}

.main-header__nav.active{
    display: block;
    background-color: #000;
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 1;
}

.main-header__nav__items{
    position: relative;
    display: flex;
    font-size: 1.375rem;
    font-weight: 500;
    gap: 0.94em;
    justify-content: end;
    list-style: none;
}

.main-header__nav.active .main-header__nav__items{
    flex-direction: column;
    font-size: 33px;
    padding-left: 1.5em;
    padding-top: 4em;
}


.main-header__nav__items__item{
    transition: font-weight ease 300ms;
}

.main-header__nav__items__item > a{
    color: #fff;
    text-decoration: none;
}

.main-header__nav__items__item:hover{
    font-weight: 300;
}

@media screen and (min-width: 500px) {
    .main-header__nav {
        display: block;
    }

    .hamburger{
        display: none;
    }
}